<section id="webinar" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <div class="title text-center wow fadeInUp" data-wow-duration="500ms">
          <h2>Webinars<span class="color"></span></h2>
          <div class="border-meghna"></div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">
        <div class="team-member">
          <div class="member-photo">          
              <img class="img-fluid lozad" data-src="images/asset/webinar1.png">
              <a href="https://www.acct.org/article/rural-colleges-and-athletics" target="_blank">
                <div class="mask-webinar"></div>
              </a>
          </div>

          <div class="member-meta">
            <h4>Rural Colleges and Athletics</h4>
            <span></span>
            <p></p>
            <a class="btn btn-transparent" target="_blank" href="https://www.acct.org/article/rural-colleges-and-athletics">Watch On-Demand</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">
        <div class="team-member">
          <div class="member-photo">          
              <img class="img-fluid lozad" data-src="images/asset/webinar2.png">
              <a href="https://www.acct.org/article/rural-housing-usda" target="_blank">
                <div class="mask-webinar"></div>
              </a>
          </div>

          <div class="member-meta">
            <h4>Rural Housing & USDA</h4>
            <span></span>
            <p></p>
            <a class="btn btn-transparent" target="_blank" href="https://www.acct.org/article/rural-housing-usda">Watch On-Demand</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
